.container-row {
    display: flex;
    flex-wrap: wrap; /* Permite quebra de linha */
    flex-direction: row; /* Eixo principal horizontal */
    width: 400px;
    height: 300px;
    border: 2px solid black;
  }
  
  /* Alinhamento no contêiner flex */
  .container-row.align-start {
    align-content: flex-start;
  }
  
  .container-row.align-center {
    align-content: center;
  }
  
  .container-row.align-end {
    align-content: flex-end;
  }
  
  .container-row.align-space-between {
    align-content: space-between;
  }
  
  .container-row.align-space-around {
    align-content: space-around;
  }
  
  .container-row.align-stretch {
    align-content: stretch;
  }
  
  .box {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    text-align: center;
    line-height: 100px;
    border: 1px solid #333;
    margin: 5px;
  }
  /*#########################################################*/
  .container-column {
    display: flex;
    flex-wrap: wrap; /* Permite quebra de linha */
    flex-direction: column; /* Eixo principal vertical */
    width: 300px;
    height: 500px;
    border: 2px solid black;
  }
  
  /* Alinhamento no contêiner flex */
  .container-column.align-start {
    align-content: flex-start;
  }
  
  .container-column.align-center {
    align-content: center;
  }
  
  .container-column.align-end {
    align-content: flex-end;
  }
  
  .container-column.align-space-between {
    align-content: space-between;
  }
  
  .container-column.align-space-around {
    align-content: space-around;
  }
  
  .container-column.align-stretch {
    align-content: stretch;
  }
  
  .box2 {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    text-align: center;
    line-height: 100px;
    border: 1px solid #333;
    margin: 5px;
  }
  